#body {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
    color: white;
}
.title{
    margin-left: 40%;
}
h2{
    margin-top: 4rem;
    float: left;
    font-size: 190%;
}
.add-newowner, .deletbtn, .addownerbtn{
    color: black;
    background-color: #83C9BF;
    width: 10rem;
    height: 3rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;

}
.add-newowner{
    float: right;
    margin-top: 4rem;
    border: solid rgb(206, 206, 206);
    cursor: pointer;

}
.add-newowner:hover, .deletbtn:hover, .addownerbtn:hover{
    background-color: gray;
}
.add-newowner>p {
    padding-left: 1.5rem;
}
.container-owner {
    margin-top: 9rem;
    width: 100%;
}
.owner{
    width: 100%;
    text-align: center;
}
.pro-pic{
    width: 100%;
    height: 10rem;
    margin-bottom: 1.4rem;
}
.profile {
    width: 30%;
    padding-bottom: 2rem;
    font-size: 160%;
    font-weight: bolder;
}
.name, .occupation, .action {
    padding-bottom: 2rem;
    font-size: 160%;
    font-weight: bolder;
}
.deletbtn {
    background-color: brown;
    margin-left: 28%;
    border: solid rgb(129, 0, 0);
    width: 5rem;

}
.deletbtn {
    padding-left: 2.5rem;
}
td{
    font-size: 110%;
    padding: 1rem;
}


.lable{
    width: 7rem;
    font-size: 1rem;
}
.inputs {
    width: 150%;
    height: 1.5rem;
    border-radius: 10px;
}

.add-owner {
    z-index: 2;
    position: fixed;
    background-color:  #83C9BF;
    width: 40%;
    padding: 4rem;
    padding-bottom: 3rem;
    margin-left: 18%;
    margin-top: -7rem;
    border-radius: 10px;
    color: rgb(56, 5, 5);
}
.addownerbtn {
    background-color:rgb(46, 36, 36);
    margin-top: 1rem;
    padding-left: 6%;
    color: white;
    margin-left: 37%;
    border: solid rgb(38, 36, 36);
    width: 6.5rem;
}
.add-heading {
    margin-top: -1.5rem;
    margin-left: 30%;
    margin-bottom: 1rem;
}
.add-owner-table td {
    padding-top: 0.5rem;
}
.tabletop {
    font-size: 130%;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.action {
    padding-left: 5rem;
}