*{
    padding: 0px;
    margin: 0px;   
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

body{
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/blurry-blue.jpg);
    background-size: cover;
    padding-left: 30px;
    padding-right: 30px;
    
    
    font-family: "Poppins", sans-serif;
  
    box-sizing: border-box;
    background-color: #f6f4fe;


}
header {
    width: 60%;
    margin-left: 20%;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.logo {
  width: 100%;
  height: 60px;
  max-width: 200px; /* Adjust the max-width to your preference */
}

.profile-icon {
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-left: 10px;
}

.search-icon {
  margin-right: 10px;
  cursor: pointer;
}

.icons {
  width: 30px;
  height: 30px;
}

.top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.nav-link {
  font-weight: 700;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 120%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #c3f3ec;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav1, .nav2, .nav3, .nav4 {
  flex: 1;
  text-align: center;
  padding: 0 10px;
}

.line1, .line2, .line3 {
  width: 2px;
  height: 18px;
  background-color: #fffefe;
  margin: 0 10px;
}

.inputSearch {
  padding: 10px;
  width: 100%;
  max-width: 400px; /* Adjust the max-width to your preference */
  margin-top: 1px;
  background-color: #83C9BF;
  height: 1rem;
  border-radius: 40px;
  border: solid #83C9BF;
  cursor: pointer;
}

.input {
  background-color: #83C9BF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 90%;
  max-width: 500px; /* Adjust the max-width to your preference */
  margin-left: 20px;
  margin-top: 8px;
  height: 30px;
  border-radius: 40px;
  cursor: pointer;
}

.hide{
    visibility: hidden;
    display: none;
}

.hamburgur_manue{
    display: none;
}
.footer-logo{
    height: 3rem;
    opacity: 100%;
}
footer{
    color: white;
    background-color: #272727;
    width: 106.4%;
    height: 18rem;
    margin-top: 3rem;
    margin-left: -3rem;
}

.footer-table{
    width: 100%;
    padding-top: 3rem;
    padding-left: 6%;
    padding-right: 4%;
}

.footer-links{
    text-decoration: none;
    color: white;
}
.footer-links:hover {
    color: #cdfff7;
}
.footer-line{
    margin-top: 2rem;
    width: 100%;
    height: 1rem;
}
.copyright{
    margin-top: 3rem;
    width: 100%;
    text-align: center;
    color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    color: white;
    background-color: #83C9BF;
    margin-left: -3rem;
    margin-top: 0.2rem;
  }
  .dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 120%;
    transition: background-color 0.5s ease;
  }
  .dropdown-content li.clicked {
    background-color: #c3f3ec;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.hidden {
    display: none;
}
.unhide {
    display: block;

}
.afterlogin {
    border-radius: 50%;
}
.footer-logo {
    height: 4rem;
    margin-right: -3rem;
}

.blur {
  filter: blur(4px);
}
ul {
  cursor: pointer;
}
   
