.image5 {
    margin-top: -10rem;
    border: 3px solid white;
    box-shadow: 2px 2px 5px 0px grey;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    position: relative;
}
.season-pic {
    width: 100%;
    height: 25rem;
    clip-path: polygon(0 0%, 100% 0, 100% 80%, 0 100%);
}

.all {
    margin-left: 6rem;
    margin-right: 6rem;
    color: white;

}
.about-pro>p{
    font-size: 120%;
    margin-top: 0.6rem;
}
.social-media{
    margin-left: -1rem;
}
.socialmedia{
    width: 3rem;
    height: 3rem;
    margin-top: 2rem;
    margin-left: 1rem;
}
.pro-btns{
    margin-left: -2%;
}
.addrental{
    float: left;
    margin-top: 2rem;
    margin-left: 2%;
    width: 10rem;
    background-color: #83C9BF;
    padding: 1rem;
    border-radius: 15px;
    border: solid rgb(206, 206, 206);

}
.pro-btn-link{
    color: black;
    text-decoration: none;
}
.btn-i{
    margin-right: 2rem;
    float: left;
    width: 1rem;
    height: 1rem;
}
.pro-img{
    width: 70%;
    height: 15rem;
    float: left;
   
}
.pro-body{
    margin-top: 1rem;
    float: left;
    width: 30%;
    margin-left: -4rem;

}
.div-pro-btn, .back-btn{
    display: flex;
    align-items: center;
    text-align: center;
    background-color:#83C9BF;
    width: 10rem;
    height: 3rem;
    border-radius: 15px;
    border: solid rgb(206, 206, 206);

}
.pro-btn, .links-btn{
    text-decoration: none;
    color:black;
    padding-left: 40%;
}
.div-delete-btn{
    margin-left: 1rem;
    background-color: brown;
}
.delete-btn {
    padding-left: -50%;
}
.pro-dis{
    margin-top: 1rem;
    font-size: 110%;
}
.back-btn>p {
    margin-left: 4rem;
}
#body {
    color: white;
    margin-top: 2rem;
}
.dash-title {
    margin-left: 43%;
}
.itms {
    margin-left: 5rem;
    margin-top: 2rem;
}

.socialmedia{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
}
#social-links-addpro{
    margin-left: 2rem;
    margin-top: 2rem;
}

.lable {
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    margin-left: 0.3rem;
    font-size: 120%;
}
input{
    width: 40%;
    height: 2rem;
    border-radius: 10px;
}
.social-links{
    width: 150%;
    height: 2rem;
    margin-left: 1rem;
}

input{
    background-color: #fff;
    color: white;
}
.save {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    text-align: center;
    width: 10rem;
    height: 3rem;
    background-color: #83C9BF;
    color: black;
    border-radius: 15px;
    border: solid rgb(206, 206, 206);

}
.save>p {
    margin-left: 3.5rem;
}
.addrental:hover, .back-btn:hover, .save:hover{
    background-color: gray;
}
