.body {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
    color: black;
}
.page-title{
    margin-left: 37%;
    margin-bottom: 2rem;
    color: rgb(221, 221, 221);

}
.sub-title {
    margin-left: 32%;
    margin-bottom: 2rem;
    color: rgb(244, 244, 244);
}
li{
    margin-bottom: 1rem;
    color: rgb(221, 221, 221);
    font-weight: bolder;
}
.container {
    display: grid;
    grid-template-columns: 50%,50%;
    width: 100%;
    margin-top: 2rem;
}
.fisrt{
    grid-row: 1/2;
    margin-top:4rem;
}
.questions{
    grid-column: 2/3;
    margin-left: 40%;
}
.margin-body{
    width: 60%;
    margin-left: 20%;
}
.subtitle{
    margin-bottom: 1rem;
}
.para-body{
    margin-bottom: 1rem;
}
dfn {
    font-weight: bolder;
}

body {
   padding: 0;
   margin: 0;
   font-family: 'IBM Plex Serif',Serif;
   
}
h1,h2,h3 {
    margin: 0;
    font-family: 'IBM Plex Sans',Serif;
}
p {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
}
a {
    color: #005eeb;
}
a:hover {
  color: #ffb200;
}
.teamWrapper {
    margin-top: 50px;
}
.container {
  --container: 1160px;
  max-width: var(--container);
  margin: auto;
}
.teamGrid {
    display: grid;
    grid-template-columns: 32.33% 32.33% 32.33%;
    column-gap: 1.5%;
    margin-top: 100px;
}
.avatar {
    position: absolute;
    left: 0;
    right: 0;
    top: -80px;
    text-align: center;
}
.teamcolinner {
    position: relative;
}
.avatar > img {
    width: 150px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid rgb(170 170 173/ 1);
    box-shadow: 0px 3px 10px 3px rgb(170 170 173 / 0.5);
}
.teamcolinner {
    position: relative;
    border: 1px dashed #ddd;
    min-height: 100px;
    background: #fff;
    z-index: 9;
}
.teamcol {
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    transition: transform 1s ease-in-out;
}
.teamcol:hover {
    transform: translateY(-30px);
    box-shadow: 0px 3px 10px 3px rgb(170 170 173 / 0.5);
    transition: transform 1s ease-in-out;
}
.teamcol:before {
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background: -webkit-linear-gradient(#ffbf00, #ffa000);
    border-top-right-radius: 10px;
    transition: width 1s ease-in-out;
}
.teamcol:after {
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: -webkit-linear-gradient(#0052cc, #005fec);
    border-bottom-left-radius: 10px;
    transition: width 1s ease-in-out;
}
.teamcol:hover::before, .teamcol:hover::after {
    width: 100%;
    transition: width 1s ease-in-out;
}
.member-name {
    margin-top: 80px;
}
.member-info {
    padding: 10px 20px;
}
.social-listing {
    align-items: center;
    justify-content: center;
    display: flex;
    list-style: none;
    padding: 0;
}
.social-listing >li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}










.container {
    --container: 1160px;
    max-width: var(--container);
    margin: auto;
  }
  .teamGrid {
      display: grid;
      grid-template-columns: 32.33% 32.33% 32.33%;
      column-gap: 1.5%;
      margin-top: 100px;
  }
  .avatar {
      position: absolute;
      left: 0;
      right: 0;
      top: -80px;
      text-align: center;
  }
  .teamcolinner {
      position: relative;
  }
  .avatar > img {
      width: 150px;
      margin: auto;
      border-radius: 50%;
      border: 1px solid rgb(170 170 173/ 1);
      box-shadow: 0px 3px 10px 3px rgb(170 170 173 / 0.5);
  }
  .teamcolinner {
      position: relative;
      border: 1px dashed #ddd;
      min-height: 100px;
      /* background: #fff; */
      z-index: 9;
  }
  .teamcol {
      padding: 15px;
      /* background: #fff; */
      border-radius: 10px;
      position: relative;
      transition: transform 1s ease-in-out;
  }
  .teamcol:hover {
      transform: translateY(-30px);
      box-shadow: 0px 3px 10px 3px rgb(170 170 173 / 0.5);
      transition: transform 1s ease-in-out;
  }
  .teamcol:before {
      content: "";
      width: 50%;
      height: 50%;
      position: absolute;
      right: 0;
      top: 0;
      background: -webkit-linear-gradient(#ffbf00, #ffa000);
      border-top-right-radius: 10px;
      transition: width 1s ease-in-out;
  }
  .teamcol:after {
      content: "";
      width: 50%;
      height: 50%;
      position: absolute;
      left: 0;
      bottom: 0;
      background: -webkit-linear-gradient(#0052cc, #005fec);
      border-bottom-left-radius: 10px;
      transition: width 1s ease-in-out;
  }
  .teamcol:hover::before, .teamcol:hover::after {
      width: 100%;
      transition: width 1s ease-in-out;
  }
  .member-name {
      margin-top: 80px;
  }
  .member-info {
      padding: 10px 20px;
  }
  .social-listing {
      align-items: center;
      justify-content: center;
      display: flex;
      list-style: none;
      padding: 0;
  }
  .social-listing >li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      /* background: #f4f5f7; */
      border-radius: 50%;
      margin: 5px;
  }
  body{
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/blurry-blue.jpg);
    background-size: cover;
    padding-left: 30px;
    padding-right: 30px;
   

}