@media screen and (max-width: 500px) {
    .top-nav {
      display: none;
    }
    header {
      width: 90%;
      margin-right: 8px;
      margin-left: 6px;
      display: grid;
      grid-template-columns: 20%, 60%, 20%;
      margin-bottom: 5rem;
    }
    .hamburgur_manue {
      display: inline;
      grid-column: 1/2;
      grid-row: 1/2;
      margin-top: 1rem;
      margin-left: 2rem;
    }
    .logo {
      grid-column: 2/3;
      grid-row: 1/2;
      width: 60%;
      height: 4rem;
      margin-left: 1rem;
    }
    .profile-icon {
      width: 3rem;
      height: 2.9rem;
      grid-column: 3/4;
      grid-row: 1/2;
      margin-top: 15px;
      margin-left: 1rem;
    }
    .icons {
      width: 1.7rem;
      height: 1.5rem;
    }
    .input {
      z-index: 3rem;
      position: absolute;
      margin-top: 10rem;
      width: 82%;
      height: 1.5rem;
      margin-bottom: 2rem;
      margin-left: 0rem;
    }
    .hero-img {
      z-index: 0;
      width: 100%;
      height: 30rem;
    }
    .blur-background {
      z-index: 1;
      width: 60%;
      height: 30rem;
      margin-top: -30rem;
      backdrop-filter: blur(1.8px);
      background-color: transparent;
    }
    .design_lines {
      z-index: 2;
      float: right;
      width: 60%;
      height: 5rem;
      position: relative;
      margin-bottom: 4rem;
    }
    .line_1 {
      height: 40px;
      margin-top: 3rem;
    }
    .line_2 {
      height: 40px;
      margin-top: -1rem;
      opacity: 50%;
    }
    .line_3 {
      height: 40px;
      margin-top: 3rem;
    }
  
    #heading {
      z-index: 3;
      color: #4ed3bf;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-weight: bolder;
      font-size: 1rem;
    }
    #h-button {
      width: 60%;
    }
    #caption {
      font-size: 60%;
    }
  
    #body_home {
      margin-top: 50rem;
    }
  
    .row {
      margin-top: -1rem;
      margin-right: 1.6rem;
      margin-left: 1.6rem;
      display: grid;
      grid-template-columns: 100%;
    }
    .card {
      grid-column: 1/2;
      color: white;
      width: 100%;
      height: 29rem;
    }
    .c1 {
      grid-row: 1/2;
      margin-bottom: 3rem;
      width: 100%;
    }
    .c2 {
      grid-row: 2/3;
      margin-bottom: 3rem;
    }
    .c3 {
      grid-row: 3/4;
      margin-bottom: 3rem;
    }
  
    .body {
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      margin-top: 3rem;
    }
    .page-title {
      margin-left: 0%;
      margin-bottom: 1rem;
      font-size: 190%;
    }
    .sub-title {
      margin-left: 0%;
      margin-bottom: 1rem;
      font-size: 120;
    }
    li {
      margin-bottom: 1rem;
    }
    .container {
      display: grid;
      grid-template-columns: 100%;
      width: 100%;
      margin-top: 2rem;
    }
    .fisrt {
      grid-row: 1/2;
      margin-top: 0rem;
      margin-bottom: 1rem;
      font-size: 130%;
    }
    .questions {
      grid-column: 1/2;
      margin-left: 0%;
    }
    .margin-body {
      width: 100%;
      margin-left: 0%;
    }
  
    .teamGrid {
      display: grid;
      grid-template-columns: auto;
    }
    .column {
      grid-column: 1/2;
    }
    .quotes {
      font-size: 16px;
      margin: 5px;
    }
    #body {
      margin-top: -3rem;
    }
    .dropdown-content {
      margin-left: -5rem;
      width: 10rem;
      padding-bottom: 0px;
    }
    .dc2 {
      margin-left: 1rem;
      font-weight: 100;
      color: black;
      height: auto;
      padding: 1rem;
    }
    .nav-link {
      font-weight: normal;
      text-decoration: none;
      color: rgb(45, 45, 45);
      font-size: 90%;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      position: relative;
    }
  
    #popup {
      z-index: 4;
      padding: 2px;
      position: fixed;
      width: 200px;
      background-color: #83c9bf;
      height: auto;
      margin-top: 20px;
      padding: 2px;
      align-items: center;
    }
  
    .popuptitle {
      padding: 5px;
      margin: 5px;
    }
  
    img.socialmedia {
      size: 20px;
      margin: 0px;
    }
  
    #h-button {
      font-size: 12px;
    }
  
    footer {
      width: 118%;
    }
  
    .explore-button.bttns {
      width: 30%;
      font-size: 12px;
      height: 15px;
    }
    .hori-line.tol {
      width: 0px;
    }
    .hori-line {
      width: 0;
    }
    .heading-type.lol {
      font-size: 28px;
      margin: 20px;
    }
    .heading-type {
      font-size: 28px;
      margin: 05px;
    }
    a.view-link-btn {
      font-size: 16px;
    }
  }
  
  @media screen and (min-width: 500px) and (max-width: 650px) {
    #h-button {
      font-size: 13px;
    }
  }