.hero-banner{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: fit-content;
    margin-top: 30px;
}
.hero-img {
    z-index: 0;
    width: 100%;
    height: 37rem;
}
.blur-background{
    z-index: 1;
    width: 60%;
    height: 37rem;
    margin-top: -37rem;
    backdrop-filter: blur(1.8px);
    background-color: transparent;
}
.design_lines{
    z-index: 2;
    float: right;
    width: 60%;
    height: 9rem;
    margin-top: -5rem;
    position: relative;
}
.line_1{
    background-color:#83C9BF; 
    float: right;
    width: 100%;
    height: 4rem;
    margin-top: 2rem;
}
.line_2{
    background-color:#83C9BF; 
    float: right;
    width: 70%;
    height: 9rem;
    margin-top: -2rem;
    opacity: 50%;
}
.line_3{
    z-index: -3;
    background-color:#00fcd6; 
    float: right;
    width: 70%;
    height: 2rem;
    margin-top: 6rem;
}
#heading{
    z-index: 3;
    color: #4ed3bf;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 500%;
    font-weight:bolder;
}
.hero-content{
    z-index: 2;
    padding-top: 100px;
    padding-left: 30px;
    opacity: 300%;

}

.view-link-btn{
    text-decoration: none;
    color: black;
}
#caption{
    color: white;
    margin: 10px;
    margin-top: 6rem;
    margin-bottom: -40rem;
}
.explore-button{
    float: right;
    background-color: #83C9BF;
    width: 27%;
    height: 20px;
    border-radius: 40px;
    text-align: center;
    padding: 10px; 
    margin-top: -60x;
    margin-right: 1%;
    
    font-family: sans-serif;
    border: solid rgb(206, 206, 206);

}
.quotes{
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 300%;
    font-weight: 1px;
}
.button{
    z-index: 2;
    background-color: #83C9BF;
    width: 40%;
    height: 20px;
    border-radius: 40px;
    text-align: center;
    padding: 10px; 
    font-family: sans-serif;
    color: black;
    margin-top: 20px;
    margin-left: 25%;
    border: solid rgb(206, 206, 206);
}

.heading-type{
    color: white;
    margin-left: 100px;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.lol {
    margin-top: -8rem;
}
.hori-line{
    margin-top: 0.7rem;
    float: left;
    height: 1rem;
    width: 5.5rem;
    background-color:#83C9BF;
}
.tol {
    margin-top: 0.7rem;
}
.type-of-house{
    width: 100%;
    height: 80px;
    margin-top: 3rem ;
}
.type-of-house1{
    margin-top: 130px;
}
#body_home{
    margin-top: 53rem;

}


.card-content{
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.heart{
    float: right;
    margin-right: 30px;
    width: 20px;
}
.countings{
    float: right;
    margin-top: 18px;
    margin-right: -26px;
}

 #imgs{
    width: 100%;
    height: 17rem;
} 


  



  .bttns {
    margin-top: 2rem;
    z-index: 2;
    background-color:#83C9BF;
    width: 40%;
    height: 20px;
    border-radius: 40px;
    text-align: center;
    padding: 10px; 
    font-family: sans-serif;
    border: solid rgb(206, 206, 206);
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
     overflow: hidden;
}

.bttns::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color:#c3f3ec;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 260ms
}
.bttns:hover {
 cursor: pointer;
}
.bttns:hover::before {
 width: 100%;
}


.contents {
    margin-top: -5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card {
    color: white;
    width: 500px; /* Adjust the width as desired */
    height: 500px; /* Adjust the height as desired */
    flex: 0 1 350px; /* This ensures each card has the same width */
    margin: 1rem; /* Adjust the margins as desired */
}

.card>img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

@media screen and (max-width: 600px) {
    .hero-content>#heading {
        font-size: 3rem;
    }

}
#popup {
    z-index: 4;
    position: fixed;
    height: 20rem;
    width: 40%;
    background-color: #83C9BF;
    margin-left: 27%;
    border-radius: 10px;
    height: auto;
}
.crossbtn {
    width: 2rem;
    float: right;
    margin: 0.5rem;
}
.popuptitle {
    padding:3rem ;
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    align-items: center;
}
.popuptitle>h3{
    color: gray;
    margin-top: 1rem;
}
.socialmedia{
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
