
.container {
  background-color:#83C9BF;
  margin-left: 30%;
  margin-top: 3rem;
  width: 40%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}


#register_toggle {
  display: none;
}

.container #register_toggle:checked + .slider {
  transform: translateX(-50%);
}

div.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10%;
  width: 80%;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}

div.form_control {
  width: 100%;
  position: relative;
  overflow: hidden;
}

div.form_control .label {
  position: absolute;
  top: 50%;
  left: 10px;
  transition: transform ease 0.2s;
  transform: translate(0%, -50%);
  font-size: 0.75em;
  user-select: none;
  pointer-events: none;
  color: #616161;
}

div.form_control .input {
  width: 100%;
  background-color: transparent;
  border: 2px solid black;
  outline: none;
  color: #3d3c3c;
  padding: 0.5rem;
  font-size: 0.75rem;
  border-radius: 5px;
}



div.form_control .input:focus + .label,
div.form_control .input:valid + .label {
  transform: translate(-150%, -50%);
}

div button {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.5rem;
  font-size: 0.75rem;
  border-radius: 5px;
  transition: box-shadow ease 0.1s;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
}



.bottom_text {
  font-size: 0.65em;
}

.bottom_text .swtich {
  font-weight: 700;
  cursor: pointer;
}




.bttns {
  margin-top: 1.5rem;
  margin-bottom: -2rem;
  z-index: 2;
  background-color:#83C9BF;
  width: 40%;
  height: 50px;
  border-radius: 40px;
  text-align: center;
  padding: 10px; 
  font-family: sans-serif;
  border: solid rgb(206, 206, 206);
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  position: relative;
  font-weight: 1000;
  font-size: 16px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
   overflow: hidden;
}

.bttns::before {
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 0;
border-radius: 15px;
background-color:#c3f3ec;
z-index: -1;
-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
transition: all 260ms
}
.bttns:hover {
cursor: pointer;
}
.bttns:hover::before {
width: 100%;
}

.copyright {
  color: #0e0e0e;
}


body{
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/blurry-blue.jpg);
  background-size: cover;
  padding-left: 30px;
  padding-right: 30px;
}