#body {
    color: white;
    margin-top: 2rem;
}
.dash-title {
    margin-left: 45%;
}
.itms {
    margin-left: 5rem;
    margin-top: 2rem;
}
.itms>h2 {
    margin-bottom: 1rem;
}
.socialmedia{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
}
#social-links-addpro{
    margin-left: 2rem;
    margin-top: 2rem;
}
.horizontal-line{
    width:30%;
    height:10px;
    margin-top: 2rem;
    /* margin-bottom: 2rem; */
}
.lable {
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    margin-left: 0.3rem;
    font-size: 120%;
}
input{
    width: 40%;
    height: 2rem;
    border-radius: 10px;
    background-color: #c3f3ec;
   
}
.social-links{
    width: 150%;
    height: 2rem;
    margin-left: 1rem;
}

textarea{
    width: 50%;
    border-radius: 10px;
}

.addrental{
    float: left;
    margin-top: 2rem;
    margin-left: 2%;
    width: 10rem;
    background-color: #83C9BF;
    padding: 1rem;
    border-radius: 15px;
    border: solid rgb(206, 206, 206);

}
.pro-btn-link{
    color: black;
    text-decoration: none;
}
.btn-i{
    margin-right: 2rem;
    float: left;
    width: 1rem;
    height: 1rem;
}
.div-pro-btn{
    float: left;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #83C9BF;
    width: 10rem;
    height: 3rem;
    border-radius: 15px;
    border: solid rgb(206, 206, 206);

}
.addrental:hover, .div-pro-btn:hover, .back-btn:hover {
    background-color: gray;
}
.pro-btn{
    text-decoration: none;
    color:black;
    padding-left: 40%;
}
.div-delete-btn{
    margin-left: 1rem;
    background-color: brown;
    border: solid rgb(129, 0, 0);

}
.add-cancle-btn {
    float: right;
    margin-top: 7rem;
}
input, textarea {
    background-color: #828b8a;
    color: white;
}
.links-btn {
    text-decoration: none ;
    color: black;
}
.back-btn {
    display: flex;
    align-items: center;
    text-align: center;
    float: left;
    width: 5rem;
    height: 3rem;
    background-color: #83C9BF;
    border-radius: 15px;
    margin-top: 7rem;
    margin-left: -12rem;
    padding-left: 3rem;
    border: solid rgb(206, 206, 206);

}