#body {
    color: white;
    margin-top: 2rem;
}
.dash-title {
    margin-left: 40%;
}
.itms {
    margin-left: 5rem;
    margin-top: 2rem;
}
.itms>h2 {
    margin-bottom: 1rem;
}
.horizontal-line{
    width:30%;
    height:10px;
    margin-top: 2rem;
}
.lable {
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    margin-left: 0.3rem;
    font-size: 120%;
}
.div-dis{
    margin-left: 0.4rem;
    width: 40%;
    margin-top: 1rem;
}
.btns, .btn{
    display: flex;
    align-items: center;
    text-align: center;
    width: 10rem;
    padding: 1rem;
    height: 1rem;
    background-color: #83C9BF;
    border-radius: 15px;
    margin-bottom: 1rem;
    border: solid rgb(206, 206, 206);

}

.links-btn {
    text-decoration: none;
    margin-left: 30%;
    color: black;
}
.back-btn{
    float: left;
    padding-left: 3rem;
    width: 5rem;
    margin-top: 1rem;
}
.cancel, .submit {
    float: right;
}
.cancel {
    margin-left: 1rem;
    background-color: brown;
    border: solid rgb(129, 0, 0);

}
.btn:hover, .btns:hover {
    background-color: gray;
    border: solid #83C9BF;
}
#body {
    margin-right: 5rem;
}
.uploaded-img {
    margin-left: 1%;
    width: 23%;
    background-color: aliceblue;
    height: 10rem;
}
.add-img {
    display: flex;
    align-items: center;
    height: 10rem;
    /* float: left; */
    width: 19%;
    background-color: rgb(51, 51, 51);
    border: solid rgb(74, 74, 74);
    margin-left: 1%;
}
.plus {
    margin-left: 45%;
    height: 15%;
    width: auto;
}
.up-imgs {
    margin-left: -1%;
    margin-bottom: 2rem;
}
