.input {
    height: 2rem;
}
.inputSearch {
    outline: none;
}
.btn-i{
    margin-right: 2rem;
    float: left;
    width: 1rem;
    height: 1rem;
  }

  .prodropbtn {
    margin-bottom: -2px;
    padding-right: 0.6rem;
    width: 1rem;
}
li {
    color: #000000;
    font-style: normal;
  }

  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

body{
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/blurry-blue.jpg);
    background-size: cover;
    padding-left: 30px;
    padding-right: 30px;
        
    font-family: "Poppins", sans-serif;
  
    box-sizing: border-box;
    background-color: #f6f4fe;


}