@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f8ff;
    min-height: 150vh;
    display: flex;
    align-items: center;
}
.wrapper {
    position: relative;
    width: 450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    --color-yellow: #ffcc48;
    --color-border: #f4f4f4;
    --color-primary: #393a5d;
    --color-secondary: #888999;
    --color-blue: #537ae1;
    .fa-star,
    .fa-star-half {
        color: var(--color-yellow);
    }
    .rating-box {
        background-color: #fff;
        padding: 1rem 2rem 2rem;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 0 10px #e6e6e6;
        width: 100%;
    }
    .rating-header {
        .title {
            text-align: center;
            font-size: 18px;
            color: var(--color-primary);
            margin-bottom: 16px;
        }
    }
    .info-review {
        display: flex;
        align-items: center;
        border-top: 1px solid var(--color-border);
        margin: 0 -2rem;
        padding: 20px 2rem;

        .left {
            display: flex;
            flex-grow: 1;
            margin-right: 10px;
            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 5px;
            }
            .text-container {
                margin: 0 8px;
                font-weight: 600;
                width: 100%;
            }
            .txt,
            .author {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                word-break: break-word;
            }
            .txt {
                margin-bottom: 5px;
                -webkit-line-clamp: 2;
            }
            .author {
                -webkit-line-clamp: 1;
                color: var(--color-secondary);
            }
        }
        .right {
            text-align: right;
            font-weight: 600;
        }
    }
    .info-rating {
        padding: 20px 0;
        font-size: 12px;
        font-weight: 500;
        color: var(--color-secondary);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .avg {
            color: var(--color-primary);
            font-weight: 700;
            font-size: 28px;
        }
        .rating-count {
            margin-top: 5px;
            text-align: right;
        }
    }
    .rating-bar {
        .bar-item {
            display: flex;
            align-items: center;
            font-size: 14px;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
        .star {
            i {
                margin-left: 5px;
            }
        }

        .star,
        .percent {
            color: var(--color-blue);
            flex-shrink: 0;
        }
        .progress {
            flex-grow: 1;
            margin: 0 10px;
            height: 8px;
            border-radius: 5px;
            overflow: hidden;
            background: #f5f8ff;
        }
        .progress-line {
            height: 100%;
            width: 0%;
            transition-delay: 0.5s;
            transition: all 0.4s ease-in;
            background-color: var(--color-yellow);
        }
    }

    .review-box {
        padding: 30px 0 0;
    }
    .review-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--color-secondary);
        margin-bottom: 15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        .count-review span {
            margin-right: 5px;
        }
        .txt {
            font-weight: 600;
            cursor: pointer;
        }
    }
    .review-content {
        max-height: 250px;
        overflow-y: auto;
        padding-right: 5px;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            visibility: hidden;
            border-radius: 10px;
            background-color: #ebebeb;
        }
        &:hover {
            &::-webkit-scrollbar-thumb {
                visibility: visible;
            }
        }
        .user-review {
            &:not(:last-child) {
                margin-bottom: 15px;
                border-bottom: 1px solid var(--color-border);
                padding-bottom: 15px;
            }
        }
        .user-rating {
            display: flex;
            justify-content: space-between;
        }
        .stars {
            font-size: 14px;
        }
        .comment-content:not(:empty) {
            padding: 10px 0;
            color: var(--color-secondary);
        }
        time {
            color: var(--color-secondary);
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
                Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
                sans-serif;
            font-size: 14px;
        }
    }
}
.feedback-user {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    overflow: hidden;
    border-radius: 20px;
    background-color: #fff;
    transform: scale(0.9);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    backface-visibility: hidden;
    &.show {
        transform: scale(1);
        visibility: visible;
        opacity: 1;
    }
    .feedback-header,
    .feedback-content {
        padding: 2rem;
    }
    .feedback-header {
        color: #fff;
        background-color: var(--color-blue);
        .title {
            margin-bottom: 1rem;
            font-weight: 600;
            font-size: 24px;
        }
        .txt {
            line-height: 1.5;
        }
        .close-btn {
            text-align: right;
            margin-bottom: 10px;
        }
        .close-btn i {
            cursor: pointer;
        }
    }
    .feedback-content {
        .rating .title {
            font-weight: 600;
            color: var(--color-primary);
            font-size: 18px;
            margin-bottom: 12px;
        }
        .stars {
            font-size: 20px;
        }
        .form {
            display: flex;
            flex-direction: column;
            margin: 2rem 0;
            .form-input:nth-child(1) {
                margin-bottom: 1rem;
            }
            label {
                display: inline-block;
                margin-bottom: 10px;
                font-weight: 600;
                color: var(--color-secondary);
            }
            input,
            textarea {
                background-color: #f5f9fb;
                outline: none;
                border: none;
                padding: 10px 12px;
                display: block;
                width: 100%;
                border-radius: 5px;
                border: 1px solid transparent;
                &::placeholder {
                    color: var(--color-primary);
                }
                &:focus {
                    border-color: #d3d3d3;
                }
            }
            textarea {
                resize: none;
            }
        }
        .submit {
            color: #fff;
            background-color: var(--color-blue);
            border-radius: 5px;
            width: 100%;
            outline: none;
            border: none;
            font-weight: 500;
            font-size: 17px;
            cursor: pointer;
            padding: 10px 20px;
        }
    }
}
