@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }



.wrapper {
  position: relative;
  /* width: 450px; */
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  --color-yellow: #ffcc48;
  --color-border: #e5e2e2;
  --color-primary: #ffffff;
  --color-secondary: #c4c4c4;
  --color-blue:  #83C9BF; }
  .wrapper .fa-star,
  .wrapper .fa-star-half {
    color: var(--color-yellow); }
  .wrapper .rating-box {
    background-color:  #272727;
    padding: 1rem 2rem 2rem;
    border-radius: 20px;
    overflow: hidden;
    width: 100%; }
  .wrapper .rating-header .title {
    text-align: center;
    font-size: 18px;
    color: var(--color-primary);
    margin-bottom: 16px; }
  .wrapper .info-review {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--color-border);
    margin: 0 -2rem;
    padding: 20px 2rem; }
    .wrapper .info-review .left {
      display: flex;
      flex-grow: 1;
      margin-right: 10px; }
      .wrapper .info-review .left img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 5px; }
      .wrapper .info-review .left .text-container {
        margin: 0 8px;
        font-weight: 600;
        width: 100%; }
      .wrapper .info-review .left .txt,
      .wrapper .info-review .left .author {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-word; }
      .wrapper .info-review .left .txt {
        margin-bottom: 5px;
        -webkit-line-clamp: 2; }
      .wrapper .info-review .left .author {
        -webkit-line-clamp: 1;
        color: var(--color-secondary); }
    .wrapper .info-review .right {
      text-align: right;
      font-weight: 600; }
  .wrapper .info-rating {
    padding: 20px 0;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .wrapper .info-rating .avg {
      color: var(--color-primary);
      font-weight: 700;
      font-size: 28px; }
    .wrapper .info-rating .rating-count {
      margin-top: 5px;
      text-align: right; }
  .wrapper .rating-bar .bar-item {
    display: flex;
    align-items: center;
    font-size: 14px; }
    .wrapper .rating-bar .bar-item:not(:last-child) {
      margin-bottom: 5px; }
  .wrapper .rating-bar .star i {
    margin-left: 5px; }
  .wrapper .rating-bar .star,
  .wrapper .rating-bar .percent {
    color: var(--color-blue);
    flex-shrink: 0; }
  .wrapper .rating-bar .progress {
    flex-grow: 1;
    margin: 0 10px;
    height: 8px;
    border-radius: 5px;
    overflow: hidden;
    background: #888888; }
  .wrapper .rating-bar .progress-line {
    height: 100%;
    width: 0%;
    transition-delay: 0.5s;
    transition: all 0.4s ease-in;
    background-color: var(--color-yellow); }
  .wrapper .review-box {
    padding: 30px 0 0; }
  .wrapper .review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-secondary);
    margin-bottom: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
    .wrapper .review-header .count-review span {
      margin-right: 5px; }
    .wrapper .review-header .txt {
      font-weight: 600;
      cursor: pointer; }
  .wrapper .review-content {
    max-height: 250px;
    overflow-y: auto;
    padding-right: 5px; }
    .wrapper .review-content::-webkit-scrollbar {
      width: 5px; }
    .wrapper .review-content::-webkit-scrollbar-track {
      border-radius: 10px; }
    .wrapper .review-content::-webkit-scrollbar-thumb {
      visibility: hidden;
      border-radius: 10px;
      background-color: #ebebeb; }
    .wrapper .review-content:hover::-webkit-scrollbar-thumb {
      visibility: visible; }
    .wrapper .review-content .user-review:not(:last-child) {
      margin-bottom: 15px;
      border-bottom: 1px solid var(--color-border);
      padding-bottom: 15px; }
    .wrapper .review-content .user-rating {
      display: flex;
      justify-content: space-between; }
    .wrapper .review-content .stars {
      font-size: 14px; }
    .wrapper .review-content .comment-content:not(:empty) {
      padding: 10px 0;
      color: var(--color-secondary); }
    .wrapper .review-content time {
      color: var(--color-secondary);
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 14px; }

.feedback-user {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  overflow: hidden;
  border-radius: 20px;
  background-color: #535252;
  transform: scale(0.9);
  backface-visibility: hidden; }
  .feedback-user.show {
    transform: scale(1);
    visibility: visible;
    opacity: 1; }
  .feedback-user .feedback-header,
  .feedback-user .feedback-content {
    padding: 2rem; }
  .feedback-user .feedback-header {
    color: #000000;
    background-color: var(--color-blue); }
    .feedback-user .feedback-header .title {
      margin-bottom: 1rem;
      font-weight: 600;
      font-size: 24px; }
    .feedback-user .feedback-header .txt {
      line-height: 1.5; }
    .feedback-user .feedback-header .close-btn {
      text-align: right;
      margin-bottom: 10px; }
    .feedback-user .feedback-header .close-btn i {
      cursor: pointer; }
  .feedback-user .feedback-content .rating .title {
    font-weight: 600;
    color: var(--color-primary);
    font-size: 18px;
    margin-bottom: 12px; }
  .feedback-user .feedback-content .stars {
    font-size: 20px; }
  .feedback-user .feedback-content .form {
    display: flex;
    flex-direction: column;
    margin: 2rem 0; }
    .feedback-user .feedback-content .form .form-input:nth-child(1) {
      margin-bottom: 1rem; }
    .feedback-user .feedback-content .form label {
      display: inline-block;
      margin-bottom: 10px;
      font-weight: 600;
      color: var(--color-secondary); }
    .feedback-user .feedback-content .form input,
    .feedback-user .feedback-content .form textarea {
      background-color: #a4a4a4;
      outline: none;
      border: none;
      padding: 10px 12px;
      display: block;
      width: 100%;
      border-radius: 5px;
      border: 1px solid transparent; }
      .feedback-user .feedback-content .form input::placeholder,
      .feedback-user .feedback-content .form textarea::placeholder {
        color: var(--color-primary); }
      .feedback-user .feedback-content .form input:focus,
      .feedback-user .feedback-content .form textarea:focus {
        border-color: #2b2b2b; }
    .feedback-user .feedback-content .form textarea {
      resize: none; }
  .feedback-user .feedback-content .submit {
    color: #000000;
    background-color: var(--color-blue);
    border-radius: 5px;
    width: 100%;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    padding: 10px 20px; }

/* # sourceMappingURL=style.css.map */
.username{
  color: white;
  font-weight: bolder;
}
.comment-content{
  font-weight: lighter;
}
