*{
    /* background-color: black; */
    color: white;
}
.image-row {
display: flex;
justify-content: space-between;
align-items: center;
}

.upload-container {
position: relative;
}

#image-upload {
position: absolute;
top: 0;
left: 0;
opacity: 0;
width: 100%;
height: 100%;
cursor: pointer;
}

img {
max-width: 100%;
height: auto;
}
.image-row {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}

.upload-container {
position: relative;
margin-top: 10px;
}

#image-upload {
position: absolute;
top: 0;
left: 0;
opacity: 0;
width: 100%;
height: 100%;
cursor: pointer;
}

img {
max-width: 100%;
height: auto;
}

@media only screen and (max-width: 768px) {
.image-row {
flex-direction: column;
align-items: center;
}

.upload-container {
margin-top: 20px;
}
}

@media only screen and (max-width: 480px) {
.image-row {
justify-content: center;
}
}