body {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/blurry-blue.jpg);
    background-size: cover;
    padding-left: 30px;
    padding-right: 30px;
}
label {
    margin-top: 1rem !important;
    margin-bottom: 0.2rem !important;
    margin-left: 0.3rem !important;
    font-size: 120% !important;
    /* width: 10000px; */
}
