.images{
    margin-top: 2rem;
}
.img1{
    float: left;
    width: 49%;
    height: 28rem;
}
.main-pics{
    width: 100%;
    height: 30rem;
}
.pics{
    width: 100%;
    height: 14.5rem;
}
.img2,.img3, .img4, .img5{
    float: left;
    width: 24.5%;
    margin-left: 1%;
}
.img4, .img5{
   margin-top: 1%;
}
.margin-body{
    color: white;
    margin-right: 20%;
    margin-left: 20%;
}
.abuout-house{
    margin-top: 33rem;
    color: white;
    font-size: 140%;
}
.horizontal-line{
    width:30%;
    height:10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.content-mg, h3{
    margin-top: 1rem;
}
.td-values{
    padding-left: 2rem;
}
h3{
    font-weight: lighter;
}
.socialmedia{
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
}
.map-key{
    width: 2rem;
    height: 2rem;
}
.rating-comment{
    font-weight: lighter;
  
}
.sub {
    font-weight: bold;
    margin-top: -1rem;
}
.second{
    border-spacing: 1.2rem; 
    margin-left: -1rem;
  
}
.write-review-btn{
    background-color: #83C9BF;
    color: black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 40px;
    border: solid white;
    border: solid rgb(206, 206, 206);
}
.write-review-btn:hover{
    background-color: gray;
    border: solid #83C9BF;
    color: white;
}
#map{
    padding: 1rem;
    width: 95%; 
    height: 35rem;
    border-radius:10px;
    color: white;
}
.map-border{
    background-color: #2e2e2e;
    width: 100%; 
    height: 37rem;
    border-radius: 10px;
}



.product{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
} 
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.slid-img{
    width: 100%;

}
.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}

